@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&display=swap');

:root {
    --accent-color: #dbffea;
    --dark-color: #040303;
    --dark-color-foreground: #ffffff;
    --light-color: #FDFAF6;
    --hover-color: #FDFAF6;
    --navigation-btn-color: var(--accent-color);
    --gradient-left-color: #000080;
    --gradient-right-color: #6666FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-color);
    color: var(--dark-color-foreground);
    width: 100%;
    position: relative;
}

.header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: .5rem 0;
    top: 0;
    z-index: 101;
    background-color: var(--dark-color);
}


.header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: .5rem 3rem;
    color: var(--accent-color);
}

.header ul li a {
    color: var(--accent-color);
    font: bolder 1.2rem sans-serif;
}

.logo {
    font: bolder 1.8rem sans-serif;

    color: var(--accent-color);
}

.logo span {
    font: bolder 1.8rem sans-serif;

    margin-right: auto;
    justify-self: first baseline;
    color: var(--dark-color);
}

.menu-icon {
    display: none;
}

.menu-icon img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    filter: invert(100%);
}




.intro {
    position: relative;
    height: 100vh;
    display: flex;
    width: 100%;
    position: relative;
    padding-bottom: 6rem;
}

.intro h1 {
    position: relative;
    margin: auto 0;
    padding: 0 3rem;
    width: min-content;
    font-size: clamp(2rem, 2rem + 7vw, 8rem);
    font-family: "Anta", sans-serif;
    font-weight: 900;
    color: var(--dark-color-foreground);
    text-transform: uppercase;
}

.intro div {
    width: max-content;
    display: flex;
    position: absolute;
    bottom: 5rem;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: auto;
    padding: 0 3rem;
}

.intro div strong {
    color: var(--accent-color);
    text-transform: uppercase;
    font-family: "Dosis", cursive;
}

.intro div button {
    background-color: var(--dark-color-foreground);
    border: none;
    padding: 0.5rem;
    filter: invert(100%);
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.intro div button:hover {
    background-color: var(--hover-color);
    filter: none;
}

.intro div button img {
    height: 1.5rem;
    width: 1.5rem;
}

.circuitBoard {
    position: absolute;
    top: 45%;
    right: 010vw;
    translate: 0 -50%;
    z-index: -1;
    width: max-content;
    height: 400px;
    rotate: 90deg;

}

@media screen and (max-width: 767px) {
    .menu-icon {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .circuitBoard {
        right: 0;

    }

    .header ul {
        flex-direction: column;
    }

    .header ul li {
        width: 100%;
        text-align: center;
        font: bold 1.2rem sans-serif;
        padding: 10px 20px;
    }

    .header {
        flex-direction: column;
        height: fit-content;
        position: relative;
    }

    /* random gradients */



    .logo {
        font: bolder 1.8rem sans-serif;
        padding-left: 20px;
        padding-top: 20px;
        margin-right: auto;
        justify-self: first baseline;
    }



    .menu-btn:not(:checked)+.menu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .menu-btn:checked+.menu {
        max-height: 240px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}

.menu-btn {
    display: none;
}

.menu-icon img {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}