@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&display=swap');

:root {
    --accent-color: #dbffea;
    --dark-color: #040303;
    --dark-color-foreground: #ffffff;
    --light-color: #FDFAF6;
    --hover-color: #FDFAF6;
    --navigation-btn-color: var(--accent-color);
    --gradient-left-color: #000080;
    --gradient-right-color: #6666FF;
    --circuit-board-color: #28db00;
    --circuit-board-shadow-color: rgb(4, 185, 4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-color);
    color: var(--dark-color-foreground);
    width: 100%;
    position: relative;
}

.header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: .5rem 0;
    top: 0;
    z-index: 101;
    background-color: var(--dark-color);
}


.header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: .5rem 3rem;
    color: var(--accent-color);
}

.header ul li a {
    color: var(--accent-color);
    font: bolder 1.2rem sans-serif;
}

.logo {
    font: bolder 1.8rem sans-serif;

    color: var(--accent-color);
}

.logo span {
    font: bolder 1.8rem sans-serif;

    margin-right: auto;
    justify-self: first baseline;
    color: var(--dark-color);
}

.menu-icon {
    display: none;
}

.menu-icon img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    filter: invert(100%);
}




.intro {
    position: relative;
    height: 100vh;
    display: flex;
    width: 100%;
    position: relative;
    padding-bottom: 6rem;
}

.intro h1 {
    position: relative;
    margin: auto 0;
    padding: 0 3rem;
    width: min-content;
    font-size: clamp(2rem, 2rem + 7vw, 8rem);
    font-family: "Anta", sans-serif;
    font-weight: 900;
    color: var(--dark-color-foreground);
    text-transform: uppercase;
}

.intro div {
    width: max-content;
    display: flex;
    position: absolute;
    bottom: 5rem;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: auto;
    padding: 0 3rem;
}

.intro div strong {
    color: var(--accent-color);
    text-transform: uppercase;
    font-family: "Dosis", cursive;
}

.intro div button {
    background-color: var(--dark-color-foreground);
    border: none;
    padding: 0.5rem;
    filter: invert(100%);
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.intro div button:hover {
    background-color: var(--hover-color);
    filter: none;
}

.intro div button img {
    height: 1.5rem;
    width: 1.5rem;
}

@media screen and (max-width: 767px) {
    .menu-icon {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .circuitBoard {
        right: 0;

    }

    .header ul {
        flex-direction: column;
    }

    .header ul li {
        width: 100%;
        text-align: center;
        font: bold 1.2rem sans-serif;
        padding: 10px 20px;
    }

    .header {
        flex-direction: column;
        height: fit-content;
        position: relative;
    }

    /* random gradients */



    .logo {
        font: bolder 1.8rem sans-serif;
        padding-left: 20px;
        padding-top: 20px;
        margin-right: auto;
        justify-self: first baseline;
    }



    .menu-btn:not(:checked)+.menu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .menu-btn:checked+.menu {
        max-height: 240px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}

.menu-btn {
    display: none;
}

.menu-icon img {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* CIRCUIT BOARD DESIGN */


.circuitBoard {
    padding-top: 2rem;
    position: absolute;
    top: 45%;
    right: 010vw;
    translate: 0 -50%;
    z-index: -1;
    width: max-content;
    height: 50%;
    rotate: 90deg;
    filter:
        drop-shadow(0 0 20px var(--circuit-board-color)) drop-shadow(0 0 10px var(--circuit-board-color));
}


.circle,
.line {
    fill: var(--circuit-board-color);
}

.line1 {
    animation: blink 3s ease-in-out infinite;
}

@keyframes blink {
    0% {
        fill: var(--circuit-board-color);
    }

    25% {
        fill: transparent;
    }

    50% {
        fill: var(--circuit-board-shadow-color);
    }

    100% {
        fill: var(--circuit-board-color);
    }
}

/* the watchContainer starts here */

.watchContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 46px;
}

.watchHolder {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 2em;
    border-radius: 999px 999px 100px 100px;
    background-color: #b2e05b;
}

/* buttons */

.watchHolder button {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.watchHolder__on {
    height: 14px;
    width: 16px;
    border-radius: 999px;
    background-color: red;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}

.watchHolder__left {
    height: 14px;
    width: 24px;
    border-radius: 999px;
    background-color: rgb(15, 15, 15);
    left: 10px;
    bottom: 10px;
}

.watchHolder__right {
    height: 14px;
    width: 24px;
    border-radius: 999px;
    background-color: rgb(15, 15, 15);
    right: 10px;
    bottom: 10px;
}

.watchBody {
    position: absolute;
    bottom: 60px;
    display: grid;
    place-items: center;
    height: 150px;
    width: 150px;
    background-color: #222222;
    transform: perspective(500px) rotateX(70deg);
    border-radius: 50%;
}

.watchX {
    transform: perspective(600px) rotateX(75deg);
    position: absolute;
    height: 140px;
    width: 140px;
    bottom: 65px;
    cursor: pointer;
    background-color: #00ff00;
    border-radius: 50%;
    clip-path: polygon(0 0, 100% 0, 60% 50%, 100% 100%, 0 100%, 40% 50%);
}



.focusBeam {
    position: absolute;
    bottom: .8em;
    height: 40%;
    width: 200px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    transform: perspective(200px) rotateX(-45deg);
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 255, 0, 0.279));
}

/* WATCH STATE CONTROLS */

.watchX[data-watch-on="false"] {
    background-color: #00ff0048;
}

.watchX[data-watch-on="false"]+.focusBeam {
    scale: 0;
}

.watchX[data-watch-on="false"]+.focusBeam+.skillIcons {
    scale: 0;
}

.skillIcons {
    position: absolute;
    bottom: 0;
    transform: translateY(-170px);
    display: grid;
    place-items: center;
    width: 100px;
    height: 100px;
    translate: 0 -50%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.skillIcons img {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: .5em;
    object-fit: contain;
}

.skillIcons img {
    position: absolute;
    scale: 0;
    object-fit: contain;
}

.skillIcons img[data-selected="true"] {
    scale: 1;
}